form div.form-group {
    margin-bottom: 1rem;
    width: 50%;
    float: left;
    padding-left: 10px;
    height:90px;
}

.was-validated .form-controlX:invalid, .form-controlX.is-invalid {
    border: 1px solid #f1556c;
}

.dataTables_filter {
    margin:10px 10px 0px 0px !important;
 }

/* DATATABLE SORT ICON CSS START */

table.dataTable thead .sorting_asc {
    background: none !important;
  }
  table.dataTable thead .sorting_desc {
    background: none !important;
  }
  table.dataTable thead .sorting {
    background: none !important;
  }
  
  span.arrow-hack {
    margin-left: 5px;
  }
  .sorting_asc span.sort {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center right !important;
  }
  .sorting_desc span.sort {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center right !important;
  }
  .sorting span.sort {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center right;
  }

  .page-title-box .page-title{
    line-height: 50px;
  }

  
  ngb-tabset ul.nav-pills,   ngb-tabset ul.nav-tabs {
    width: 30% !important;
    float: left !important;
    height: 400px !important;
  }

  ngb-tabset div.tab-content {
    width: 65% !important;
    float: left !important;
    height: 400px !important;
  }

/*
  ngb-tabset input.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
*/

ngb-tabset .btn-primary{
  padding: 10px;
  margin: 10px;
  min-width: 120px;
  border-color: #3182CE !important;
  color: #3182CE !important;
  background: #fff !important;
}


.disabledarea {
  pointer-events: none;
  opacity: 0.4;
  }