.topbar-light .navbar-custom {
    background-color: #2c5282 !important;
    border-bottom: 1px solid #f1f5f7;
    color: black !important;
}


.content-page {
    margin-left: 0px !important;
    padding: 0px !important;
}

.footer {
    left:0px !important;
}