xxxxxxxxxxxxxxxxxxxxx
<div class="container-fluid" style="display: block !important;">

  
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <!-- widget -->
    <ng-template [ngTemplateOutlet]="WidgetData" [ngTemplateOutletContext]="{widget: widget}"
      *ngFor="let widget of widgetData"></ng-template>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <div class="card-box">
        <h4 class="header-title mb-1">Activation Code</h4>

        <div class="widget-chart text-center" dir="ltr">

          <apx-chart [chart]="revenueRadialChart.chart" [series]="revenueRadialChart.series"
            [plotOptions]="revenueRadialChart.plotOptions" [colors]="revenueRadialChart.colors"
            [stroke]="revenueRadialChart.stroke"></apx-chart>
          <h5 class="text-muted">Total Activation Code</h5>
          <h2>80 / 150</h2>
 
          <div class="row mt-3">
            <div class="col-3">
              <p class="text-muted font-15 mb-1 text-truncate">Total</p>
              <h4><i class="fe-arrow-up text-success mr-1"></i>150</h4>
            </div>
            <div class="col-3">
              <p class="text-muted font-15 mb-1 text-truncate">Used</p>
              <h4><i class="fe-arrow-up text-success mr-1"></i>80</h4>
            </div>
            <div class="col-3">
              <p class="text-muted font-15 mb-1 text-truncate">Unused</p>
              <h4><i class="fe-arrow-down text-danger mr-1"></i>40</h4>
            </div>
            <div class="col-3">
              <p class="text-muted font-15 mb-1 text-truncate">Unused</p>
              <h4><i class="fe-arrow-down text-danger mr-1"></i>20</h4>
            </div>
          </div>

        </div>
      </div> <!-- end card-box -->
    </div> <!-- end col-->

    <div class="col-xl-8">
      <div class="card-box">
        <h4 class="header-title mb-3">Patient Register Analytics</h4>
        <!-- sales analytics chart -->
        <div style="height: 375px;">
          <apx-chart [series]="salesMixedChart.series" [chart]="salesMixedChart.chart"
            [tooltip]="salesMixedChart.tooltip" [stroke]="salesMixedChart.stroke" [fill]="salesMixedChart.fill"
            [legend]="salesMixedChart.legend"
            [plotOptions]="salesMixedChart.plotOptions" [grid]="salesMixedChart.grid" [xaxis]="salesMixedChart.xaxis"
            [yaxis]="salesMixedChart.yaxis" [colors]="salesMixedChart.colors" [labels]="salesMixedChart.labels">
          </apx-chart>
        </div><!-- end chart -->
      </div> <!-- end card-box -->
    </div> <!-- end col-->
  </div>

</div>

<!-- Widget data -->
<ng-template #WidgetData let-widget='widget'>
  <div class="col-md-6 col-xl-3">
    <div class="widget-rounded-circle card-box">
      <div class="row">
        <div class="col-6">
          <div class="avatar-lg rounded-circle bg-soft-{{ widget.color }} border-{{ widget.color }} border">
            <i class="{{ widget.icon }} font-22 avatar-title text-{{ widget.color }}"></i>
          </div>
        </div>
        <div class="col-6">
          <div class="text-right">
            <h3 class="text-dark mt-1" [CountTo]="widget.value" [from]="0" [duration]="1">{{ widget.value }}</h3>
            <p class="text-muted mb-1 text-truncate">{{ widget.text }}</p>
          </div>
        </div>
      </div> <!-- end row-->
    </div> <!-- end widget-rounded-circle-->
  </div> <!-- end col-->
</ng-template>