body.authentication-bg {
    background-color: #E2E8F0 im !important; 
}
.text-muted {
    color: #222222 !important;
}
.trouble-login {
    
        color: #888 !important;
        background: #FEEBC8;
        width: 300px;
        height: 30px;
        margin: auto;
        padding-top: 4px;
    
}

.trouble-login a.text-blue{
    color: #336dbf !important;
}